:root {
    --black:    #100F0F;
    --white:    #EFEFEF;
    --splash:   #9E2B25;
}
* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: FrauncesHeavy;
    src: url(fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
    font-variation-settings: "opsz" 9, "wght" 800, "SOFT" 100, "WONK" 1;
}
@font-face {
    font-family: FrauncesItHeavy;
    src: url(fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
    font-variation-settings: "opsz" 9, "wght" 800, "SOFT" 100, "WONK" 1;
}

@font-face {
    font-family: FrauncesMed;
    src: url(fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
    font-variation-settings: "opsz" 9, "wght" 400, "SOFT" 100, "WONK" 1;
}
@font-face {
    font-family: FrauncesItMed;
    src: url(fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
    font-variation-settings: "opsz" 9, "wght" 400, "SOFT" 100, "WONK" 1;
}

@font-face {
    font-family: FrauncesLight;
    src: url(fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
    font-variation-settings: "opsz" 9, "wght" 200, "SOFT" 100, "WONK" 1;
}
@font-face {
    font-family: FrauncesItLight;
    src: url(fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
    font-variation-settings: "opsz" 9, "wght" 200, "SOFT" 100, "WONK" 1;
}
html {
    animation: 2s linear 0s 1 hideScroll;
    font-family: 'Fraunces';
    color: var(--black);
    background-color: var(--white);
    overflow-x: hidden;
}
nav {
    animation: 2s ease-out 0s 1 fadeToRed;
    top: 0;
    position: fixed;
    height: 7vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--splash);
    
}
.logo {
    padding-left: 10px;
    animation: 2s ease-out 0s 1 FadeToBlack;
    font-family: FrauncesHeavy;
    color: var(--black);
    font-size: 30pt;
}
.title {
    animation: 2s ease-out 0s 1 fadeToWhite;
    height: 93vh;
    display: flex;
    align-items: center;

}
.title h1{
    width: 50vw;
    margin: none;
    font-family: FrauncesHeavy;
    font-size: 200pt;
}
.a {
    animation: 1s ease-out 0s 1 slideLeft1;
}
.f {
    animation: 1s ease-out 0s 1 slideLeft2;
}
.title h2{
    animation: 2s ease-out 0s 1 slideUp;
    color: var(--black);
    margin-top: 20vh;
    padding-bottom: 10px;
    padding-right: 20px;
    font-family: FrauncesMed;
    font-size: 30pt;
}
.title h3{
    animation: 2s ease-out 0s 1 slideUp;
    color: var(--splash);   
    font-family: FrauncesItMed;
    font-size: 20pt;
}
.nav-links{
    width: 50vw;
}
.nav-links ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
}
.nav-links a{
    color: var(--black);
    animation: 2s ease-out 0s 1 FadeToBlack;
    font-size: 20pt;
    text-decoration: none;
    font-family: FrauncesLight;
    transition-duration: 400ms;
    transition-property: color;
}
.nav-links li{
    list-style: none;
}
.nav-links a:hover{
    color: var(--white);
    font-family: FrauncesItMed;
}
.proj{

    height: 93vh;
}
.proj h1{
    font-family: FrauncesItHeavy;
    font-size: 35pt;
}

.abt{
    display: block;
    z-index: 999;
    height: 93vh;
    display: flex;
}
.abt h1{
    font-family: FrauncesItHeavy;
    font-size: 35pt;
}
.abt p{
    font-family: FrauncesLight;
    font-size: 20pt;
}
.about-pg {
    width: 60vw;
    padding: 100px;
}
.img{
    z-index: 0;
    width: 40vw;
    background-color: var(--splash);
    height: 70vh;
    margin-top: 10vh;
    margin-right: 10vw;
    transform: translateX(-25%);
}


.cont{
    font-family: FrauncesItHeavy;
    height: 93vh;
}
.cont h1{
    font-size: 35pt;
}



.spacer {
    width: 100%;
    height: 7vh;
}



.font h1{
    font-family: FrauncesItHeavy;
}
.font h2{
    font-family: FrauncesItMed;
}
.font p{
    font-family: FrauncesItLight;
}

@keyframes slideLeft1 {
    from {
        transform: translateX(50%);
        color: var(--splash);
    }
    50%{
        transform: translateX(50%);
        color: var(--splash);
    }
    to {
        transform: translateX(0%);
        color: var(--black);
    }
    
}@keyframes slideLeft2 {
    from {
        transform: translateX(80%);
        color: var(--splash);
    }
    50%{
        transform: translateX(80%);
        color: var(--splash);
    }
    to {
        transform: translateX(0%);
        color: var(--black);
    }
    
}
@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    50%{
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}
@keyframes hideScroll {
    from {
        overflow: hidden;
    }
    to {
        overflow: hidden;
    }
}   
@keyframes fadeToWhite {
    from {
        background-color: var(--black);
        overflow: hidden;
    }
    25%{
        background-color: var(--black);
    }
    to {
        background-color: var(--white);
        
    }
}
@keyframes fadeToRed {
    from {
        background-color: var(--black);
    }
    25%{
        background-color: var(--black);
    }
    to {
        background-color: var(--splash);
        
    }
}
@keyframes FadeToBlack {
    from {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}
