:root {
    --bg: #fff;
    --txt: #000;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.top {
    position: fixed;

}
section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
}
.anchor {
    padding-top: 8vh;
}
h1 {
    text-transform: uppercase;
    font-size: 4rem;
    background: black;
    color: white;
    padding: 1vh;
    border-radius: 10px;
    z-index: 1;
}

/* ************************************** nav bar ************************************** */
header {
    z-index: 998;
    position: sticky;
    top: 0vh;
    width: 100%;
    height: 7vh;
    background: black;
}
nav {
    z-index: 999;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    display: flex;
    width: 50%;
    color: white;
    padding-left: 3rem;
}
.nav-links {
    display: flex;
    width: 50%;
    justify-content: space-between;
}


.nav-links li{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: white;
}

.link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.link:hover::after{
    width: 100%;
    transition: width .3s;
}

/* ************************************ home ************************************* */
#home {
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(img/forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#title-card {
    display: flex;
    flex-direction: column;
    height: 25vh;
    justify-content: space-between;
    align-items: center;
}
#title{
    z-index: 0;
    font-size: 3rem; 
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #000;
    border-radius: 10px;
}
#home-abt {
    font-size: 1.2em;
    padding: 2vh;
    top: 63vh;
    background: black;
    color: white;
    border-radius: 10px;
}
.space {
    height: 20vh;
}
.social {
    width: 90%;
    display: flex;
}
#social-box ul{
    display: flex;
    justify-content: space-around;
}
#social-box li{
    list-style: none;
    padding: .5em;
    margin: .5em;
    background: black;
    border-radius: 10px;
}
#social-box a{
    text-decoration: none;
    color: white;
}
/* ************************************ about ************************************ */
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30vh;
}
#about h1{
    
    z-index: 1;
    background-color: black;
    align-self: flex-start;
    margin-left: 15vw;
}



#picture {
    align-self: center;
    width: 50vw;
    height: 50vh;

}
#picture img{
    filter: grayscale(90%);
    height: 170%;
}
#abt {
   align-self: end;
   padding-right: 5vw;
   width: 50vw;
}
#abt p {   
    color: white;
    background-color: black;
    
    padding: 2vh;
    border-radius: 10px;

}

/* ************************************ education ************************************ */
#education {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30vh;
}
#education h1 {
    margin-bottom: 17vh;
    margin-top: vh;
}

.edu-container {
    padding-top: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#GoHuskies {    
    height: 60vh;

}
#GoHuskies img{
    height: 100%;
}
.img-container {
    height: 20vw;
    padding-left: 45%;
}
.img-container img{
    height: 100%;
    z-index: 2;
}

.edu-container{
    padding-top: 0vh;

    
}
#deg-container {
    background: black;
    color: white;
    padding: 2vh; 
    border-radius: 10px;
    margin-right: 45%;
}
#deg-container h2{
    font-size: 2rem;
    z-index: 3;
    
}

/* ************************************ Tech Skills ************************************ */
#tech-skills {
    display: flex;
    justify-content: space-around;
}
#tech-skills p{
    font-size: 1.3em;
    width: 70%;
}
.tech {
    display: flex;
    width: 60%;
    justify-content: space-around;
}
.tech li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tech h2{
    text-transform: uppercase;
    font-size: 2em;
}
/* ************************************ Contact ************************************ */

#contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#contact-form {
    background-color: black;
    border-radius: 10px;
    width: 70%;
    padding: 30px 40px;
    text-align: center;
}
#contact-form h3{
    margin-top: 0;
    font-size: 2rem;
    padding-bottom: 1.5vh;
    color: white;
}
.txtbx{
    border: 1px solid white;
    margin: 1vh;
    padding: 2vh;
    border-radius: 10px;
}
.txtbx label{
    display: block;
    text-align: left;
    color: #333;
    font-size: 1.25rem;
    color: white;
}
.txtbx input, .txtbx textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    margin: top;
    color: white;
}

.btn {
    display: inline-block;
    background: #72ab82;
    padding: 1.5vh 0;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
}



/* ************************************ Burger ************************************ */


.burger {
    display: none;
}
.burger div{
    width: 27px;
    height: 3px;
    background-color: white;
    margin: 7px;
    transition: all 0.3s ease;
}








@media screen and (max-width: 1080px){
    .nav-links{
        width: 90%;
    }
}

@media screen and (max-width: 768px){
    body {
        overflow-x: hidden;
        width: 100%; 
        
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
    .nav-links{
        overflow-x: hidden;
        width: 60%;
        position: absolute;
        right: 0px;
        height: 93vh;
        top: 7vh;
        justify-content: space-around;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease;

    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
        color: white;
    }
}

.nav-active{
    transform: translateX(0%);
    transition: transform 0.5s ease-out;
}


@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-7px,7px);
}

.toggle .line2{
    transform: translate(30px,0px);
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-7px,-7px);
}

